/* Gernral Properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Almarai', sans-serif;
    background-color: #EDF3F6;
}
/* start header */
header {
    display: flex;
}
header img {
    width: 56px;
    height: 56px;
    margin: 20px 0 0 20px;
    border-radius: 20px;
}
header h1 {
    margin: 30px 0 0 10px;
}
header h1 span {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Akronim;
    color: #05D1F3;
    font-size: 35px;
}
/* end header */

/* start welcome */
.welcome-text {
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}
.welcome-text span{
    font-family: Ranga;
    font-size: 65px;
    font-weight: normal;
}
/* end welcome */

/* start main */
main {
    display: flex;
    justify-content: center;
    text-align: center;
}
main form {
    position: relative;
    top: 80px;
}
main form p {
    font-weight: bold;
    font-size: 20px;
}
main form input[type="text"]{
    height: 50px;
    width: 250px;
    outline: none;
    border-radius: 20px;
    border: 3px solid #05D1F3;
    text-indent: 12px;
    font-size: 18px;
}
.asterisk_input::after {
    content: " *";
    color: #e32;
    position: absolute;
    top: 50px;
    font-size: 34px;
    right: 20px;
}
main form a:first-of-type {
    width: 217px;
    background: #05D1F3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 24px;
    position: absolute;
    top: 140px;
    left: 20px;
    text-decoration: none;
    line-height: 54px;
}
main form a:last-of-type {
    color: #000;
    text-decoration: none;
    background: #C3DDEA;
    border-radius: 40px;
    padding: 7px 15px 7px 15px;
    position: relative;
    top: 130px;
}
/* end main */

/* start footer */
footer {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;;
    position: relative;
    top:290px
}
footer a {
    text-decoration: none;
    color: #05D1F3;
}
footer a:first-child {
    width: 90px;
    height: 40px;
    background: #E9F7FB;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a span {
    margin-left: 4px;
    margin-top: 6px;
}
footer a img {
    width: 25px;
    height: 25px;
}
/* End footer */

/* media query */
@media (min-width:767px) {
    header {
        justify-content: center;
    }
}