/* Gernral Properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Almarai', sans-serif;
    background-color: #141A34;
    color: #FFF;
}
/* start header */
header {
    padding: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.75);
}
header span {
    font-weight: bold;
    font-size: 38px;
    color: #FFFFFF;
}
/* End header */

/* start section seprator */
.line-seprator {
    display: flex;
    padding-left: 30px;
}
.line-seprator hr {
    width: 26px;
    margin-left: 10px;
    border-top: 3px solid #FFF;
}
.correct {
    border-top: 3px solid #33D6C5 !important;
}
.wrong {
    border-top: 3px solid #C84C24 !important;
}
/* End section seprator */

/* start section questions */
.questions {
    margin: 30px 0 0 30px;
}
.questions .conatiner-questions {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 88%;
}
.questions .conatiner-questions .box-select {
    display: flex;
    flex-direction: column;
}
.questions .conatiner-questions .box-select select{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    color: #FFF;
    background: #05D1F3;
    border: 6px solid transparent;
    margin-top: 8%;
}
select option {
    zoom: 1.2;
}
select option:nth-child(odd) {
    background: #026879
}
select option:nth-child(even) {
    background: #04A7C2
}
.questions .content {
    padding-top: 35px;
}
.questions .content p {
    width: 300px;
    font-size: 18px;
    color: #FFFFFF;
}
.questions .opations {
    margin-top: 15px;
}
.questions .opations .opat {
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    width: 330px;
    height: 50px;
    display: flex;
    align-items:center;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.75);
}
.questions .opations .opat:hover {
    background-color: rgb(5 209 243 / 20%);
}
.questions .opations .opation-correct {
    border: 2px solid rgba(51, 214, 197, 0.75);
}
.questions .opations .opation-correct input  {
    color: rgba(51, 214, 197, 0.75) !important;
}
.questions .opations .opation-correct div  {
    border: none !important;
}
.questions .opations .opat input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    text-indent: 20px;
    cursor: pointer;
}
.questions .opations .opat div {
    background-color: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.questions .opations .opat div img {
    width: 100%;
    height: 100%;
}
/* End section questions */

/* start section footer */
footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
footer a {
    width: 160px;
    height: 69px;
    font-weight: bold;
    font-size: 24px;
    background: #05D1F3;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #FFF;
}
/* End section footer */

/* start media query */
@media (min-width:767px) {
    header , .line-seprator , footer{
        display: flex;
        justify-content: center;
    }
    .questions {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .questions .conatiner-questions {
        width: 28%;
    }
}
/* End media query */